
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Portal Yönetim| Giriş</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">KMS</h1>

            </div>
            <h3>Hoşgeldiniz</h3>
            <p>
                Giriş işlemi yaparak Portal Yönetim uygulamasını kullanabilirsiniz.
            </p>
            <p>Lütfen kullanıcı adı ve parolanınız giriniz.</p>
            <form class="m-t" role="form" action="/Login/Login">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Kullanıcı Adı" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Şifre" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Giriş</button>

            </form>
            <p class="m-t"> <small>EMSE KMS Portal Yönetim Paneli &copy; 2018</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

</body>

</html>

